@media ( max-width: 1139px )
    .main-header-nav
        padding-left: 32px
        padding-right: 32px
    .promo
        min-height: 369px

        &-item-content-wrap
            margin-top: 128px
            margin-left: 40px

        &-item-heading
            font-size: 44px
            line-height: 53px

        &-item-content p
            font-size: 24px
            line-height: 29px

        &-item-image::after
            display: none

        &-item-image
            background-image: url(../img/promo__img.png)
            background-repeat: no-repeat
            background-size: contain

    .offers
        margin-top: 19px
        margin-left: 16px
        margin-right: 16px
        grid-template-rows: 1fr 116px
        grid-gap: 19px

    .featured-goods
        margin-right: 16px
        margin-left: 16px

        &-list
            margin-right: 0px
            margin-top: 72px
            justify-content: center

        &-item
            margin-right: 0

        &-item:nth-child(2n-1)
            margin-right: 16px

    .md
        margin-bottom: 16px

    .product-card-image
        width: 100%

    .button-all-catalog
        margin-top: 16px
        margin-bottom: 64px

    .services
        min-height: 610px

        &-list
            flex-direction: column
            align-items: center
            margin-right: 0
        &-item
            margin-top: 108px
            margin-right: 0

    .contacts
        min-height: 614px
        &-wrap
            display: flex
            flex-direction: column
            align-items: center

    blockquote
        margin-top: 64px

    .subscription-form
        margin-top: 48px

    .footer-bottom-wrap
        padding-left: 32px
        padding-right: 32px

    .social-list-item:not(:last-child)
        margin-right: 7px

    .new-arrivals-wrap
        padding-left: 16px
        padding-right: 16px

    .filters
        display: flex
        justify-content: space-between
        width: 100%
        margin-top: 24px

        &-container
            padding-left: 0

    .filters-param-section:last-child
        margin-right: 0

    .featured-goods-list
        margin-top: 40px

    .pagination-wrap
        margin-bottom: 63px
        margin-top: 10px

    .product-slider
        max-height: 624px
        & img
            max-height: 624px
    .product-information
        margin-top: 0
        width: 100%
        padding: 64px

    .cart
        padding-top: 59px
        flex-direction: column
        margin-left: 16px
        margin-right: 16px

        .cart-content
            margin-bottom: 64px

            .card
                width: 100%

            .cart-controls
                justify-content: center

            .cart-button:not(:last-child)
                margin-right: 48px

        .address-form
            margin-left: 0
            margin-right: 0
            display: flex
            justify-content: space-between
            align-items: center

            .get-address-form
                margin-bottom: 0
                width: 50%

            .total
                width: 50%
                margin-left: 15px

    .registration
        padding-left: 16px
        padding-right: 16px
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 29px

        .registration-features
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
            margin-left: 0
            width: auto

            .registration-features-title
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
