* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

summary {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-header {
  height: 75px;
  background-color: #222222;
}

.main-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.user-nav-link--search {
  margin-left: 41px;
}

.user-nav-link--user {
  margin-left: 34px;
  margin-right: 34px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 763px;
}

.promo-item {
  width: 50%;
}

.promo-item-image {
  background-color: #f4f3f3;
  position: relative;
}

.promo-item-content {
  background-color: #F1E4E6;
  color: #222222;
  font-style: normal;
}

.promo-item-content-wrap {
  margin-left: 92px;
  margin-top: 335px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.promo-item-content-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo-item-content p {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.promo-item-content span {
  color: #F16D7F;
}

.promo-item-image::after {
  content: "";
  width: 800px;
  height: 765px;
  position: absolute;
  background-image: url(../img/promo__img.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 0px;
}

/*offers*/
.offers {
  margin-top: 64px;
  margin-bottom: 97px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 180px;
      grid-template-rows: 1fr 180px;
  grid-gap: 30px;
}

.catalog-category--acccesory {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.catalog-category--women,
.catalog-category--men,
.catalog-category--kids,
.catalog-category--acccesory {
  position: relative;
}

.catalog-category-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-category-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.catalog-category-offer {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

/*featured-goods*/
.featured-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-goods-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.featured-goods-promo {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.featured-goods-list {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  list-style: none;
}

.featured-goods-item {
  width: 360px;
  margin-right: 30px;
  background-color: #F8F8F8;
  position: relative;
}

.featured-goods-item:hover {
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.md {
  margin-bottom: 30px;
}

.featured-goods-item:hover .product-card-image {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.featured-goods-item:hover .add-card-link {
  display: block;
}

.add-card-link {
  display: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 14px 14px 12px 50px;
  position: absolute;
  top: 188px;
  left: 111px;
}

.add-card {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.add-card::before {
  content: "";
  width: 27px;
  height: 25px;
  position: absolute;
  background-image: url(../img/cart-product.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 13px;
  top: 11px;
}

.product-card-content {
  padding: 24px 16px 20px;
}

.featured-goods-card-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.item-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  margin-top: 12px;
}

.item-price {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.button-all-catalog {
  display: inline-block;
  padding: 14px 40px;
  border: 1px solid #F26376;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin-top: 18px;
  margin-bottom: 95px;
}

.button-all-catalog:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
}

.services {
  height: 341px;
  background-color: #222224;
  color: #FFFFFF;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  list-style: none;
}

.services-item {
  color: #FBFBFB;
  width: 360px;
  text-align: center;
  margin-top: 163px;
  margin-right: 30px;
  position: relative;
}

.delivery::before {
  content: "";
  width: 46px;
  height: 32px;
  position: absolute;
  background-image: url(../img/delivery-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 157px;
  top: -60px;
}

.sales::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url(../img/sales.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 160px;
  top: -59px;
}

.quality::before {
  content: "";
  width: 48px;
  height: 35px;
  position: absolute;
  background-image: url(../img/quality-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 156px;
  top: -60px;
}

.quality::before-item-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
}

.quality::before-item-content {
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
}

.contacts {
  height: 448px;
  color: #222224;
  background-image: url(../img/photo_subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222224;
}

.contacts-invitation {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 355px;
  margin-top: 30px;
}

blockquote,
.subscription-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form {
  margin-top: 150px;
}

blockquote {
  margin-top: 97px;
}

.blockquote-image {
  border-radius: 50%;
}

.form-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}

.form-content {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  color: #222224;
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 356px;
  height: 49px;
  margin-top: 32px;
}

.input-email {
  background-color: #E1E1E1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.button-subscribe {
  color: #FFFFFF;
  background-color: #F16D7F;
  width: 100px;
  height: 49px;
  display: block;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.button-subscribe:hover {
  background-color: #E05C6E;
}

.footer-bottom {
  height: 79px;
  background-color: #222224;
  color: #FBFBFB;
}

.footer-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list-item {
  margin-right: 7px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
}

.social-list-link:hover {
  background-color: #F16D7F;
}

.social-list-link:hover path {
  fill: #FFFFFF;
}

/*catalog*/
.new-arrivals {
  background-color: #F8F3F4;
  height: 148px;
}

.new-arrivals-wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-arrivals-title {
  color: #F16D7F;
}

.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-item-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}

.breadcrumbs-item-link {
  color: #636363;
}

.breadcrumbs-link-current {
  color: #F16D7F;
  font-weight: bold;
}

.breadcrumbs-item-link:hover {
  color: #F16D7F;
  font-weight: bold;
}

.filters {
  margin-top: 51px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: inherit;
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #6F6E6E;
}

.filter-title {
  font-weight: 600;
  color: #222222;
  position: relative;
}

.filters-container {
  padding-left: 16px;
}

.filter-title:hover {
  color: #F16D7F;
}

.filter-title:hover .filters-icon > path {
  fill: #F16D7F;
}

.filters-content {
  display: none;
  margin-top: 16px;
}

.filters-param {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-active:hover {
  width: 360px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px;
  position: absolute;
  z-index: 1;
  top: -16px;
}

.filters-active:hover .filters-content {
  display: block;
}

.filters-ul {
  list-style: none;
  padding: 0 11px 24px 11px;
}

.filters-ul-item {
  padding-top: 11px;
}

.filters-item {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
  padding: 15px 11px;
  margin-bottom: 18px;
}

.filters-param-section {
  position: relative;
  margin-right: 27px;
}

.filters-param-item:hover {
  color: #F16D7F;
}

.filters-param-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  padding: 9px 30px 9px 9px;
  z-index: 1;
  top: 22px;
}

.filters-param-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters-param-image {
  margin-left: 10px;
}

.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
  margin-right: 15px;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  margin-top: 18px;
  margin-bottom: 96px;
  color: #C4C4C4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination-back {
  width: 9px;
  height: 14px;
  border: 0;
  padding: 0;
  background-size: contain;
  background-image: url(../img/catalog-back.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.pagination-list-item:not(:last-child) {
  margin-right: 22px;
}

.pagination-link:hover {
  color: #F16D7F;
}

.pagination-link-current {
  color: #E05C6E;
}

.pagination-forvard {
  width: 9px;
  height: 14px;
  border: 0;
  padding: 0;
  background-size: contain;
  background-image: url(../img/catalog-forvard.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

/*product*/
.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.product-slider {
  height: 777px;
  background-color: #F7F7F7;
  text-align: center;
}

.product-information {
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  margin-top: -64px;
  padding-bottom: 64px;
  padding-top: 64px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-card-link-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F16D7F;
  border: 1px solid #FF6A6A;
  padding: 15px 57px 14px 24px;
  margin-top: 48px;
}

.add-card-product {
  margin-left: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.add-card-link-product:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
}

.add-card-link-product:hover .icon-add-cart-product > path {
  fill: #FFFFFF;
}

.add-card-link-product:hover .add-card-product {
  color: #FFFFFF;
}

.product-category {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-category-underline {
  background-color: #F16D7F;
  border: none;
  height: 3px;
  width: 63px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.product-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-description {
  width: 555px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 32px;
  margin-bottom: 64px;
}

.product-price-underline {
  background-color: #EAEAEA;
  border: none;
  height: 1px;
  width: 642px;
  margin-bottom: 64px;
}

.featured-goods-product-card {
  margin-bottom: 98px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 96px;
  padding-bottom: 128px;
}

.cart .cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .cart-content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  background: #ffffff;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  position: relative;
}

.cart .cart-content .card_mb {
  margin-bottom: 40px;
}

.cart .cart-content .card_mb .card-image {
  display: block;
}

.cart .cart-content .card_mb .card-content {
  padding: 22px 31px;
}

.cart .cart-content .card_mb .card-content .card-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 42px;
}

.cart .cart-content .card_mb .card-content .card-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart .cart-content .card_mb .card-content .card-price {
  color: #F16D7F;
}

.cart .cart-content .card_mb .card-close {
  position: absolute;
  background-color: transparent;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  border: 0;
  top: 28px;
  right: 22px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.cart .cart-content .cart-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-content .cart-controls .cart-button {
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  background-color: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart .cart-content .cart-controls .cart-button:hover {
  background-color: #A4A4A4;
  color: #ffffff;
}

.cart .address-form {
  margin-left: 128px;
}

.cart .address-form .get-address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 57px;
}

.cart .address-form .get-address-form .address-form-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart .address-form .get-address-form .address-form-input {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  padding: 13px 17px;
  margin-bottom: 20px;
  outline: none;
}

.cart .address-form .get-address-form .address-form-input:focus {
  color: #B1B1B1;
}

.cart .address-form .get-address-form .address-form-button {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  padding: 10px 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  cursor: pointer;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.cart .address-form .get-address-form .address-form-button:hover {
  background-color: #A4A4A4;
  color: #ffffff;
}

.cart .address-form .total {
  background: #F5F3F3;
  padding: 40px 44px;
}

.cart .address-form .total .total-subtext {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-bottom: 12px;
}

.cart .address-form .total .total-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
}

.cart .address-form .total .total-text .total-price {
  font-weight: bold;
  color: #F16D7F;
}

.cart .address-form .total .total-underline {
  background-color: #E2E2E2;
  border: none;
  height: 1px;
  margin-bottom: 17px;
  margin-top: 21px;
}

.cart .address-form .total .button-proceed {
  border: none;
  background-color: #F16D7F;
  color: #ffffff;
  padding: 15px 41px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart .address-form .total .button-proceed:hover {
  background-color: #E05C6E;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}

.registration .registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.registration .registration-form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration .registration-form fieldset legend {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration .registration-form fieldset .registration-form-input {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  padding: 13px 17px;
  margin-bottom: 20px;
  outline: none;
}

.registration .registration-form fieldset .form-notification {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registration .registration-form .input-male {
  margin-bottom: 33px;
}

.registration .registration-form .input-male .registration-form-radio {
  margin-right: 10px;
  margin-left: 20px;
}

.registration .registration-form .button-join {
  border: none;
  background-color: #F16D7F;
  color: #ffffff;
  padding: 16px 67px 16px 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.registration .registration-form .button-join:hover {
  background-color: #E05C6E;
}

.registration .registration-form .button-join::after {
  content: "";
  position: absolute;
  background-image: url(../img/direction.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 9px;
  top: 20px;
  right: 29px;
}

.registration .registration-features {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 128px;
  width: 652px;
}

.registration .registration-features .registration-features-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.registration .registration-features .registration-features-list {
  list-style-image: url(../img/mark.svg);
  margin-left: 25px;
  margin-top: 21px;
}

.registration .registration-features .registration-features-list .registration-features-item {
  padding-left: 22px;
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */